# Ignore thumbnails created by Windows
Thumbs.db

# Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Oo]bj
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
*.lib
*.sbr
*.opendb
*.opendb.lock
[Tt]est[Rr]esult*/
.vs/
packages/
